@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

li {
    float: left;
}

li a {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #9baec8;
}

/*ID*/
#horizontal-nav {
    margin-top: 64px;
    z-index: -1;
}

#ul-horizontal-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0 18px;
    background-color: #34314c;
    overflow: hidden;
    border: 1px solid #e7e7e7;
}

/*CLASS*/
.page-header {
    background: #2b90d9;
    background: -webkit-linear-gradient(45deg, #9baec8 0%, #d9e1e8 100%);
    background: linear-gradient(45deg, #9baec8 0%, #d9e1e8 100%);
    margin: auto auto;
    padding: 10px;
}

.span-text {
    color: antiquewhite;
    font-family: 'Asap', sans-serif;
    font-size: 1.3em;
}

.search-wrapper {
    margin: 10px auto 0 260px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
}

.div-logo {
    display: inline-block;
}

.left {
    float: left;
}

i.left {
    float: left;
    margin-right: 5px;
}

header .logo {
    margin:1px 0px;
    padding:22px 20px;
}

header .logo-img {
    height: 50px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav i.material-icons {
    display: block;
    float: left;
    font-size: 24px;
}

