@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/************SELECTORS*********/

/*ID*/
#horizontal-nav {
    margin-top: 64px;
}

#ul-horizontal-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0 18px;
    overflow: hidden;
    background-color: #3c8fa8;
} 

#send-btn:hover {
    background-color: midnightblue;
    border-color: midnightblue;
}

/*CLASS*/
.page-header {
    background: #d6c5ab;
    /*background: linear-gradient(45deg, #d6c5ab 0%, white 100%);*/
    margin: auto auto;
    /*padding: 10px;*/
}

.button {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.span-text {
    color: midnightblue;
    font-family: 'Baloo', sans-serif;
    font-size: 1.3em;
    /*font-weight: bold;*/
}

.search-wrapper {
    max-width: fit-content;
    float: right;
    padding: 0 18px;
}

.div-logo {
    display: inline-block;
}

.left {
    float: left;
}

i.left {
    float: left;
    margin-right: 5px;
}

.active {
    background-color: #9baec8;
}

header .logo-img {
    height: 50px;
    vertical-align: middle;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

header .nav-wrapper {
    position: relative;
    height: 100%;
}

nav i.material-icons {
    display: block;
    float: left;
    font-size: 24px;
}

header .logo {
    margin:1px 0px;
    padding:22px 20px;
}

/*TAG NAME*/

li {
    float: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer {
    background-color: #3c8fa8;
}

footer a {
    color: white;
}

li a {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

div h2 {
    margin-top: 0.5em;
}

/*OTHERS*/

li a:hover{
    text-decoration: none;
    color: #d6c5ab;
}

footer a:visited {color: white;}
footer a:hover {
    color:white;
    text-decoration: none;
}

div > label, figcaption, time {
    font-family: 'Quicksand', sans-serif;
}

article > img {
    padding-top: 1em;
}

div > p, article > p {
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

header > h2, div > h2 {
font-family: 'Baloo', sans-serif;
color: midnightblue;
}

aside:last-child {
    padding-bottom: 1em;
}

@media (min-width: 768px){
    #navContainer {
        padding: 0;
        background: #3c8fa8
    }
    #navContent {
        display: block !important;
    }
    #ul-horizontal-nav {
        display: block;
    }
    .navbar-brand {
        display: none !important;
    }
}
