<!DOCTYPE html>
<html lang="es">
    <head>
        <!--Etiquetas META-->
        <meta charset="utf-8">
        <meta name="author" content="Viviana Laurido A. & Pierro Ulloa">
        <meta name="description" content="Este sitio muestra informacion sobre el grupo juvenil ESCultura">
        <meta name="keywords" content="evangelizacion, jovenes, actividades, Czestochowa">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Etiquetas LINK-->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../static/img/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            Es Cultura
        </title>
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <header class="page-header">
                <div class="nav-wrapper">
                    <div class="div-logo">
                        <h1 class="logo">
                            <img class="logo-img" src="../static/img/logo.png" alt="Es Cultura logo"/>
                            <a>
                            <span class="span-text">Es Cultura</span>
                            </a>
                        </h1>
                    </div>
                    <div class="search-wrapper">
                        <i class="material-icons left">search</i>
                        <input type="text" name="Search" placeholder="Explora Es Cultura" />
                    </div>
                </div>
            </header>
            <!-- END HEADER -->

            <nav class="horizontal-nav">
                <div class="nav-wrapper">
                    <ul id="ul-horizontal-nav">
                        <li>
                            <a href="#">
                                <i class="material-icons left">account_circle</i>
                                ¿Quiénes somos?
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons left">group_work</i>
                                ¿Qué hacemos?
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons left">settings_phone</i>
                                Contáctanos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido -->
	        <div>
            </div>

            <!-- FOOTER -->
            <footer >
                <div>
                    <div>
                        <span>Copyright ©
                            <script type="text/javascript">
                                document.write(new Date().getFullYear());
                            </script>
                            <a>DAW PROJECT</a>All rights reserved.
                        </span>
                        <span> Design and Developed by <a href="https://www.espol.edu.ec">Viviana Laurido & Piero Ulloa - ESPOL</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->
        </div>

        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
    </body>
</html>